<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/main.css"%}"/>
    <link rel="stylesheet" href="{% static "css/add.css"%}"/>
    <title>Добавление промо</title>
</head>
  {% include "header.html" %}
<body>
  <div class="container">
    <div class="formspace">
      <h3 class="addlabel"> Добавление промо от партнеров<h3>
      <form class="add_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="">
          {% for field in form %}
          <div class="addfield">
            <div>{{field}}</div>
          </div>
          {% endfor %}
        </div>
        <input type="submit" class="addButton" value = "Добавить промо">
      </form>
    </div>
  </div>
</body>
</html>
