<!DOCTYPE html>
{% load static %}
<head>
  <link rel="stylesheet" href="{% static "css/header.css"%}"/>
</head>
<body>
  <header>
          <div class="header_content">
              <div class="menu">
                <nav>
                  <ul>
                    <li><a class="main_nav" href="../">Региональные новости Воронежа</a></li>
                    <li><a href="addnews">Добавление новости</a></li>
                    <li><a href="">Просмотр новых объявлений</a></li>
                    <li><a href="login">Выход</a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <hr class="line">
  </header>
</body>
