<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/adverts.css"%}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <title>Новые объявления</title>
</head>
<body>
  {% include "header.html" %}
  <div class="container">
    <div class="adverts">
      {% for ad in adverts %}
      <div class="advert">
        <div class="image_box">
          <div class="ad_image">
            <img src={{ad.image.path}} width="200" height="200">
          </div>
          <div class="image_text">
            <p>Личные данные</p>
            <p>ФИО: {{ad.name}}
            <p>Дата рождения: {{ad.dateOfBirth}}
            <p>Пол: {{ad.sex}}
          </div>
        </div>
        <p>Приметы: {{ad.characteristics}}
        <p>Особые приметы: {{ad.specCharacteristics}}
        <p>Был одет в: {{ad.clothes}}
        <p>Последний раз видели: {{ad.lastLocation}}
        <p>Телефон для связи: {{ad.telephone}}
      </div>
      <a class="accept_link" href="acc/{{ad.id}}">Опубликовать</a><a class="reject_link" href="rej/{{ad.id}}">Отклонить</a>
      {% endfor %}
    </div>
  </div>
</body>
</html>
