{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta property="og:site_name" content="TownNews">
    <meta property="og:title" content="{{title}}"/>
    <meta property="og:image" content="https://townnews.site/getimage/{{imagePath}}"/>
    <meta property="og:description" content="{{description}}"/>
    <meta property="article:published_time" content="{{publishedTime}}" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
</head>
<script>
    articleId = {{articleId}};
    if ((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i))) {
        location.replace(`townnews.app://news/${articleId}`);
        setTimeout(function() {
            if (!document.webkitHidden) {
                location.replace(`https://townnews.site/deferred/a/${articleId}`);
            }
        }, 500);}
   /* var now = new Date().valueOf();
setTimeout(function () {
  // time stamp comaprison prevents redirecting to app store a 2nd time
  if (new Date().valueOf() - now > 100) {
    window.close() ;  // scenario #4
    // old way - "return" - but this would just leave a blank page in users browser
    //return;  
  }
  if ((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i))) {
    // still can't avoid the "invalid address" safari pops up
    // but at least we can explain it to users
    var msg = "'invalid address' = MyApp NOT DETECTED.\n\nREDIRECTING TO APP STORE" ;
  } else {
    var msg = "MyApp NOT DETECTED\n\nREDIRECTING TO APP STORE" ;
  }
  if (window.confirm(msg)) {
    window.location = "https://townnews.site/delayedlink";
    // scenario #2 - will leave a blank tab in browser
  } else {
    window.close() ;  // scenario #3
  }
}, 50);
window.location = "townnews.app://news";  
// scenario #1 - this will leave a blank tab*/
</script>
</html>