.header_content{
  display: flex;
  justify-content: space-around;
  font-family: Verdana;
  font-size: 18px;
}
.menu ul li{
  display: inline-block;
}
.menu a{
  display: block;
  text-align: center;
  padding: 0 20px;
  color:black;
  text-decoration: none;
}
a.main_nav{
  margin-right: 300px;
}
.menu a:after {
  background-color: #d14351;
  display: block;
  content: "";
  height: 2px;
  width: 0;
  -webkit-transition: width .5s ease-in-out;
  -moz--transition: width .5s ease-in-out;
  transition: width .5s ease-in-out;
}
.menu a:hover:after,a:focus:after {
  width: 100%;
}
@media only screen and (max-width : 1200px) {
 .menu ul{
	  margin: 68px 0 0;
	}
	.menu a{
		padding: 0 5px;
	}
}
.line {
	border-top: 2px solid #242424	;
	width: 99.5%;
	float:left;
}
